# Ignore binary files
*.exe
*.dll
*.so
*.dylib
*.bin
*.o
*.obj
*.pyc
*.pyo
*.pyd

# Ignore Python cache directories
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
backend/backend/__pycache__/

# Python
*.py[cod]
*$py.class
__pycache__
*.so
*~
.env
venv/
ENV/

# Django
*.log
db.sqlite3
media/
static/